---
---

<div class="text-3xl">Контакты</div>

<div class="flex max-sm:flex-col max-sm:min-w-[250px] p-8 min-w-[650px] rounded m-4 bg-white w-[60%] drop-shadow-[0_0_3px_rgb(0,0,0)] basis-96">
  <div class="flex flex-col pl-1 pr-6 items-start justify-start">
    <img class="ml-4 h-8" src="/Tel.png" alt="telephone picture" />
    <h1>Телефон</h1>
    <div class='text-gray-500'>8 495 777 66 55</div>
    <hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
    <h1>Почта</h1>
    <div class='text-gray-500'>info@vaycompany.com</div>
    <hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
    <hr />
    <h1>Адрес</h1>
    <div class='text-gray-500'>Горбунова 8С1</div>
    <hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
  </div>
  <div class='w-full max-sm:h-72'>
        <iframe class='w-full h-full'
          src="https://maps.google.com/maps?q=Gorbunova%20St,%208,%20Moskva,%20Russia,%20121596&t=&z=9&ie=UTF8&iwloc=&output=embed"
         ></iframe><a href="https://fmovies-online.net"></a><br>

  </div>
</div>
