---

---
<div class='flex flex-col items-center gap-4'>
<img class='h-24 w-24 object-contain' src="/logo.png" alt="Logo of Vay">
<div class="text-3xl">8 495 777 66 55</div>
<div class='text-gray-500'>По всем вопросам</div>
<div class='flex mb-4'>
    <img class='h-16 w-16 object-contain' src="/teleg.png " alt="telegram icon">
    <img class='h-16 w-16 object-contain' src="vk.png" alt="vk icon">
</div>
<div>Главная</div>
<hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
<div>Такси</div>
<hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
<div>Сервис</div>
<hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
<div>Запчасти</div>
<hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
<div>Контакты</div>
<hr class="border-1 my-2 border-black opacity-25 border-solid w-48" />
<div class='flex my-4'>
    <img class='h-8 w-8 object-contain' src="/teleg.png " alt="telegram icon">
    <img class='h-8 w-8 object-contain' src="vk.png" alt="vk icon">
</div>
<div>© 2018-2023 Официальный сайт</div>
</div>