---
---

<div class="flex max-sm:flex-col justify-center gap-2 flex-wrap">
  <div class="flex flex-wrap justify-center basis-[85%] mx-[4%] max-sm:mx-0 bg-[#171717] rounded-2xl">

    <div
      class="flex basis-[50%] flex-wrap justify-center items-start content-center"
    >
    <div class='flex items-center'>
      <div class="text-8xl mr-8 max-lg:text-6xl max-sm:text-4xl text-white">Vay</div>
      <div class="text-center text-6xl max-lg:text-4xl max-sm:text-2xl bg-white mt-4 rounded-3xl p-4">
        ТАКСИ
      </div>
      </div>
      <div class="w-full text-center text-white mx-4 mt-4">
        Аренда и выкуп автомобилей разных класснов, подключение и сопровождение
        водителей
      </div>
      <button class="bg-white text-xl text-black p-2 rounded-lg m-4"
        >Подробнее</button
      >
    </div>
    <div class='basis-[50%] max-md:basis-[100%] max-md:h-auto self-start h-full'>
      <div class='flex items-end h-full w-full'>
      <img
        class=" object-contain w-full rounded-2xl"
        src="/car.png"
        alt="car with renting"
      />
    </div>
    </div>
  </div>
  <div
    class="flex gap-2 flex-wrap basis-[42%] items-center justify-center pt-12 bg-[#171717] rounded-2xl"
  >
    <div class="text-white text-4xl max-sm:text-2xl font-semibold mr-1">Vay</div>
    <div class="bg-white rounded-2xl px-4 py-2 text-xl max-sm:text-lg font-semibold">
      СЕРВИС
    </div>
    <div class="text-white font-light mx-[30%] w-2/5">
      Технический осмотр, ремонт, шиномонтаж и обслуживание автопарка
    </div>
    <div class='basis-full self-end'>
      <img
        class="rounded-lg object-contain"
        src="/wheel.png"
        alt="picture with wheel"
      />
    </div>
  </div>
  <div
    class="flex gap-2 flex-wrap basis-[42%] items-center  justify-center pt-12 bg-[#171717] rounded-2xl"
  >
    <div class="text-white text-4xl max-sm:text-2xl font-semibold mr-1">Vay</div>
    <div class="bg-white rounded-2xl px-1 py-2 text-xl max-sm:text-lg font-semibold">
      ЗАПЧАСТИ
    </div>
    <div class="text-white font-light mx-[30%] w-2/5">
      Автозапчасти, запчасти для технического обслуживания и аксессуары
    </div>
    <div class='basis-full self-end'>
      <img
        class="rounded-lg object-contain"
        src="/oil.png"
        alt="picture with oil and petrol"
      />
    </div>
  </div>
</div>
