---

---

<div class='flex flex-col justify-center items-center gap-4'>
    <div class='text-6xl font-bold'>Быстро. Удобно. Всегда</div>
    <button class='bg-black text-white text-2xl rounded px-6 py-2'>Узнать больше</button>
    <img alt='main picture' src='/everything.png'>
</div>