---

---
<div class='text-3xl whitespace-pre '>  Нам доверяют
тысячи клиентов</div>
<div class='flex h-72  w-full justify-around items-center'>
    <div class='bg-white py-8 px-6 rounded-lg drop-shadow-[0_0_10px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Oper.png" alt="Map">
        <div class='text-xl'>Оператор такси</div>
        <div class='text-gray-500 whitespace-pre'>Три года на рынке такси с автопарком более ста 
машин</div>
    </div>
    <div class='bg-white py-8 px-6 rounded-lg drop-shadow-[0_0_10px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Gears.png" alt="Map">
        <div class='text-xl'>Производство и сервис</div>
        <div class='text-gray-500 whitespace-pre'>Две производственные площадки с 
вертикально интегрированной системой </div>
    </div>
    <div class='bg-white py-8 px-6 rounded-lg drop-shadow-[0_0_10px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Logistic.png" alt="Map">
        <div class='text-xl'>Логистические цепи</div>
        <div class='text-gray-500 whitespace-pre'>Развитая партнерская и логистическая
сети поставки автозапчастей</div>
    </div>
</div>