---

---
<div class='text-3xl whitespace-pre '>  Нам доверяют
тысячи клиентов</div>
<div class='flex flex-wrap w-full justify-around items-center'>
    <div class='bg-white  flex-1 py-8 px-2 mx-2 min-w-[310px] h-[192px] rounded-lg drop-shadow-[0_0_3px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Oper.png" alt="Map">
        <span class='text-xl'>Оператор такси</span><br>
        <span class='text-gray-500 whitespace-pre'>Три года на рынке такси с автопарком 
более ста машин</span>
    </div>
    <div class='bg-white flex-1 py-8 px-2 m-2 min-w-[310px] h-[192px] rounded-lg drop-shadow-[0_0_3px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Gears.png" alt="Map">
        <span class='text-xl'>Производство и сервис</span><br>
        <span class='text-gray-500 '>Две производственные площадки с 
вертикально интегрированной системой </span>
    </div>
    <div class='bg-white flex-1 py-8 px-2 mx-2 min-w-[310px] h-[192px] rounded-lg drop-shadow-[0_0_3px_rgb(0,0,0)]'>
        <img class='ml-4 h-8' src="Logistic.png" alt="Map">
        <span class='text-xl'>Логистические цепи</span><br>
        <span class='text-gray-500 '>Развитая партнерская и логистическая
сети поставки автозапчастей</span>
    </div>
</div>